:root {
    --main-color: #FEF6EB;
    --nav-btn: #353430;
    --white:#FFFFFF;
    --btn-hover: #24231F;
    --text:#2B2A30;
    --orange: #FC655F;
    --para: #565560;
    --outline: #D0D0D5;
    --big-but: #353430;
    --congrats: #2A2A2A;
  }
.Asuccess-background{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 21, 24, 0.74);
  z-index: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Asuccess-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    padding: 120px 150px; 
}
.Asuccess-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
}
.Asuccess-align h2{
   font-size: 20px;
   font-weight: 700;
   width: 100%;
   text-align: center;
   color: var(--congrats);
}
.Asuccess-align p{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: var(--congrats);
    margin-bottom: 5%;
    margin-top: 5%;
 }
.Asuccess-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Asuccess-btn{
    border: none;
    border-radius: 4px;
    padding: 0.7rem 10rem;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--big-but);
}
.Asuccess-button{
    border: none;
    border-radius: 4px;
    padding: 0.7rem 10rem;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--big-but);
}
.Asuccess-btn:hover{
    background-color: var(--btn-hover);
}

.Asuccess-button:hover{
    background-color: var(--btn-hover);
}
.Asuccess-button:active{
    transform:scale(0.98);
  } 
  .Asuccess-btn:active{
    transform:scale(0.98);
  } 
  @media screen and (max-width: 800px){
    .Asuccess-popup{
        border-radius: 10px;
        padding: 80px 10px; 
    }
    .Asuccess-icon{
       width: 20%;
    }
    .Asuccess-align h2{
        font-size: 17px;
        width: 100%;
     }
     .Asuccess-align p{
         font-size: 11px;
         font-weight: 600;
      }
      .Asuccess-button{
        padding: 10px 90px;
    }
  }
  @media screen and (max-width: 765px){
    .Asuccess-icon{
        width:20%;
     }
  }
  @media screen and (max-width: 450px){
    .Asuccess-popup{
        padding: 40px 5px; 
    }
  }