:root {
    --main-color: #FEF6EB;
    --nav-btn: #353430;
    --white:#FFFFFF;
    --btn-hover: #24231F;
    --text:#2B2A30;
    --orange: #FC655F;
    --dark-orange: #CE6763;
    --para: #565560;
  }
    
    