:root {
  --main-color: #fef6eb;
  --nav-btn: #353430;
  --white: #ffffff;
  --btn-hover: #24231f;
  --text: #2b2a30;
  --orange: #fc655f;
  --dark-orange: #f52d25;
  --para: #565560;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.search-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.web {
  font-size: 10px;
  color: var(--para);
  font-weight: 300;
  text-align: start;
  margin-left: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-one {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.err-url{
  font-size: 12px;
  color: red;
}
.in {
  box-sizing: border-box;
  width: 30rem;
  padding: 12px 15px;
  outline-color: var(--orange);
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  margin-right: 0px;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  color: var(--para);
}

.bntn {
  padding: 3px 30px;
  border: none;
  background-color: var(--orange);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}
.bntn.bntn1 {
  font-family: "Red Rose";
  line-height: 31px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 3px;
}
.bntn.bntn1:hover {
  background-color: var(--dark-orange);
}
.bntn.bntn1:active {
  transform: scale(0.98);
}

@media screen and (max-width: 650px) {
  .in {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .web {
    display: none;
    color: var(--para);
  }
  .in {
    width: 100%;
  }
  .bntn.bntn1 {
    margin-top: 0px;
    margin-left: 5px;
  }
}
